
<h2><%= @list.name %></h2>

<ul>
<% @list.bookmarks.each do |bookmark|%>
  <li><%= bookmark.movie.title %></li>
  <%= link_to "Delete", bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
</ul>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
