<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
  <%= link_to root_path do %>
    <%# <a class="navbar-brand" href=""> %>
      <i class="fa-solid fa-clapperboard"></i>

    <%# My lists
    </a> %>
  <% end %>
  </div>
</nav>
